.header {
    background-color: blue;
    border: solid 3px yellow;
    text-align: center;
    font-size: xx-large;
    color: yellow;
}
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-style: sans-serif;
}

button{
    width: 70px;
    height: auto;
    background-color: blue;
    border: solid 3px yellow;
    border-radius: 5px;
}

button:focus {
    border: solid;
    outline-color: yellow;
}

header h1 {
    margin: 0;
    padding-top: 10px;
}

html {
    height: 100%;
}

input {
    border: 1px solid lightgrey;
    border-radius: 5px;
}


.container {
    display: flex;
    flex-direction: row;
    /* max-width: 640px; */
    height: 100%;
}

.search {
    padding: 25px;
    background-color: white;
}

.searchBtn {
    color: white;
    height: 30px;
}

.search h1 {
    line-height: 30px;
}

.forecast {
    margin-top: 25px;
    border: solid 1px lightgray;
    margin-left: 5%;
    min-width: 640px;
    padding: 12px 15px 15px 15px;
    height: 40%;
}
.card-row {
    display: flex;
    flex-direction: row;
}

.five-day-card {
    margin-left: 60px;
    width: 150px;
    height: auto;
    border-radius: 5px;
    color: white;
    font-size: larger;
    background-color: lightblue;
}

.five-day-container .card-text {
    margin-bottom: 15px;
    padding: 10px 30px 5px 10px;
}

.five-day-card h3 {
    margin: 5px;
}

.five-day-card img {
    margin-left: 10%;
}

.historyItems {
    margin-top: 20px;
}

.historyItems:nth-child() {
    margin-top: 20px;
}

img {
    width: auto;
    height: auto;
}

input {
    height: 40px;
    width: auto;
}

li:first-child {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 6px 6px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

li {
    height: 100%;
    font-size: larger;
    background-color: white;
    border: solid 1px lightgrey;
    border-radius: 0px 0px 0px 0px;
    padding: 12px 5px 12px 15px;
    list-style: none;
}

.row {
    display: flex;
    line-height: 10px;
    margin: 5px 5px 5px 0px;
}

.row * {
    margin-right: 10px;
}